html {
  background-color: black;
}

.parent {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.main-container {
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 750px;
  background: url('../images/main_screen.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
}

@keyframes growBorder {
  0% {border: 20px dashed yellow;}
  50% {border: 20px dashed red;}
  100% {border: 20px dashed yellow}
}

.play-link-container {
  height: fit-content;
  width: fit-content;
}

.play-container, .play-link, .play-link-container {
  cursor: pointer;
}

.play {
  cursor: pointer;
  font-size: 80px;
  padding: 20px;
  text-decoration: underline;
  padding-bottom: 30px;
  border-style: double;
  animation-name: growBorder;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {bottom: 56px;}
  25% {bottom: 56px;}
  50% {bottom: 150px;}

  75% {bottom: 56px;}
  100% {bottom: 56px;}
}

.marquee {
  position: absolute;
  bottom: 54px;
  animation-name: jump;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  animation-iteration-count: infinite;
  pointer-events: none;
}

.main-kart {
  background-image: url('../images/mario_sprite.png');
  width: 56px;
  height: 56px;
  top: 30;
  z-index: 1;
}
