.game-master {
  display: flex;
}

.instructions-div {
  padding-right: 15px;
}

.hud-div {
  padding-left: 15px;
}

.game-ui {
  display: flex;
  flex-direction: column;
  position: relative;
}

.canvas-container {
  display: flex;
  flex-direction: column;
}

.start-game-button {
  margin: 11px auto;
  width: fit-content;
  padding: 10px 15px 3px;
  text-align: center;
  font-size: 16px;
  outline: none;
  color: #fa0000;
  background-color: #ffff00;
  box-shadow: #fa0000 0px 0px 10px;
  border: outset #fa0000;
  cursor: pointer;
}

.mute-button {
  position: absolute;
  right: 0px;
  top: 511px;
  height: 30px;
  width: 90px;
  cursor: pointer;
  padding: 5px 7px 1px;
  color: #fa0000;
  background-color: #ffff00;
  box-shadow: #fa0000 0px 0px 10px;
  border: outset #fa0000;
}

#background {
  display: none;
}

#viewport {
  position: relative;
}
