.canvas-container {
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
}

.start-game-button {
  margin-top: 14px;
}

#background {
  background-color: #5c93fc;
  display: none;
}

#viewport {
  background-color: #5c93fc;
}