.canvas-container {
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
}

.start-game-button {
  margin-top: 14px;
}

#background {
  /* background-image: url('../images/background.png'); */
  display: none;
}

#viewport {
  /* background-image: url('../images/background.png'); */
}