.instructions-master {
  height: 500px;
  width: 324px;
}

.instructions-master > * {
  font-family: "microgramma";
}

.instructions-master > h2 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.instruction-enumerables > p,
.scoreboard-note > p,
.race-coins > p,
.race-coins > span > p {
  font-size: 10px;
  color: white;
  font-family: "press_start_2pregular";
  text-align: center;
  margin-bottom: 8px;
}

.spacebar-sprite {
  height: 32px;
  width: fit-content;
  margin: 0px auto 12px;
}

#space-bar {
  position: absolute;
  font-size: 10px;
  color: black;
  left: 139px;
  top: 32px;
  text-shadow: none;
}

.item-sprite {
  height: 32px;
  width: 32px;
  margin: 0px auto 12px;
}

#last-sprite {
  margin-bottom: 20px;
}

.instruction-enumerables, .scoreboard-note {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 5px;
}

.placing-span {
  display: flex;
  justify-content: center;
}

.placing-info {
  height: 16px;
  margin: 5px 7px 5px 0px;
}

.small-coin-sprite {
  height: 16px;
  width: 16px;
}

.race-coins {
  margin-bottom: 20px;
}
