.join-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.button-container {
  margin-bottom: 10px;
}

.join-button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: none;
}

.join-button:focus {
  outline: none;
}


.button-text {
  font-size: 40px;
}

.join-room-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0px;
  width: 500px;
}

.join-room-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.join-room-input {
  width: 100%;
  padding: 20px 0px;
  border: none;
}