.navbar {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar > button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.home-button {
  padding-top: 3px;
  font-size: 16px;
  outline: none;
}

.signup-login-holder {
  padding-top: 7px;
}

.signup-login {
  margin: 0 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 10vw;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin: 15px 0;
  width: 80%;
}

.active {
  filter: brightness(40%);
}

.logout-btn {
  margin: 0;
  padding: 4px 0px 0px 0px;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  font-family: "press_start_2pregular";
  color: #ffff00;
  text-shadow: #fa0000 0px 0px 10px;
  background: none;
}

.logout-btn:hover {
  filter: grayscale(70%);
}

.icon {
  height: 32px;
  width: 32px;
  background-image: url(../images/github_pixel.png);
  background-size: cover;
  display: inline-block;
  color:  transparent;
  margin-left: 10px;
  box-shadow: #fa0000 0px 0px 10px;
  border-radius: 100%;
}