.navbar {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.signup-login {
  margin: 0 10px;
}

.footer {
  left: 10vw;
  position: absolute;
  bottom: 0;
  font-size: 8px;
  margin: 5px 0;
}

.active {
  display: hidden;
}