.navbar {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.signup-login {
  margin: 0 10px;
}

.footer {
  left: 10vw;
  position: absolute;
  bottom: 0;
  font-size: 8px;
  margin: 5px 0;
}

.active {
  filter: brightness(40%)
}

.logout-btn {
  cursor: pointer;
  color: #FA0000;
  background-color: #FFFF00;
	box-shadow: #FA0000 0px 0px 10px;
  border: outset #FA0000;
}

.logout-btn:hover {
  filter: grayscale(70%)
}