.background-div {
  width: 1024px;
  height: 530px;
  background-image: url("../images/podium_road.png");
  position: relative;
}

.player-div {
  position: absolute;
}

.player {
  width: 112px;
  height: 112px;
}

#first-place {
  top: 283px;
  left: 456px;
}

#second-place {
  top: 315px;
  left: 337px;
}

#third-place {
  top: 348px;
  left: 577px;
}
