.background-div {
  width: 1024px;
  height: 530px;
  background-image: url("../images/podium_road.png");
  position: relative;
}

.podium-master {
  position: relative;
}

.player-div {
  position: absolute;
}

.player {
  width: 112px;
  height: 112px;
}

#first-place {
  top: 283px;
  left: 456px;
}

#second-place {
  top: 315px;
  left: 337px;
}

#third-place {
  top: 348px;
  left: 577px;
}

.back-to-lobby-button {
  position: absolute;
  right: 0px;
  top: 545px;
  height: 29px;
  cursor: pointer;
  padding: 4px 7px 0px 10px;
  color: #fa0000;
  background-color: #ffff00;
  box-shadow: #fa0000 0px 0px 10px;
  border: outset #fa0000;
}
