.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  padding: 20px 40px;
  text-align: center;
  font-size: 24px;
  outline-style: double;
  margin: 5px;
}

.submit {
  cursor: pointer;
  color: #fa0000;
  background-color: #ffff00;
}

.login-button {
  padding: 9px 0px 0px 0px;
  font-size: 18px;
  width: 200px;
  margin: 0px 0px 15px;
}
